body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content{
    padding: 0px 100px;
}

.article {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
}


header:not([class]) {
    background-color: #333;
    color: white;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    border-radius: 50%;
    width: 50px; /
    height: 50px;
    object-fit: cover;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.new {
    color: red;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.articles-list {
    padding-block: 20px;
}

.auth-link {
    padding: 10px 20px;
    background-color: lightgray;
    text-decoration: none;
    color: black;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
}

.articles-category {
    margin-top: 20px;
}

.articles-category select {
    padding: 5px;
}

.new-comment {
    margin-bottom: 20px;
}

.new-comment-form-input,
.new-comment-form-textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 17px;
}

.article-form-row {
    margin-bottom: 20px;
    display: grid;
    gap: 10px;
}

.article-form-errors {
    color: red;
}

.article-form-input,
.article-form-textarea {
    padding: 10px;
    font-size: 16px;
}

.auth-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.error-message {
    color: red;
}

.auth-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.auth-form-row {
    display: grid;
    gap: 10px;
    width: 100%;
}

.auth-form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.auth-form-submit {
    font-size: 16px;
}

.auth-form-errors {
    color: red;
}